<mat-expansion-panel style="width:50%;float:left;">
  <mat-expansion-panel-header>
    <mat-panel-description>
      Branchenauswahl
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-wko-category-selection-v2></app-wko-category-selection-v2>
</mat-expansion-panel>
<mat-expansion-panel style="width:50%;float:left;">
  <mat-expansion-panel-header>
    <mat-panel-description>
      Ortsauswahl
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-wko-location-selection-v2></app-wko-location-selection-v2>
</mat-expansion-panel>
<div style="clear:both"></div>
<div style="float:left; width:600px;">
  <button (click)="loadCompanies(false, false)" style="height: 50px;">Alle anzeigen</button>
  <button (click)="loadCompanies(true, false)" style="height: 50px;">Gemerkte anzeigen</button>
  <button (click)="loadCompanies(false, true)" style="height: 50px;">Neue anzeigen</button>
  <button (click)="fetchCompaniesAmountFromWko()" style="height: 50px;">Anzahl von Wko laden</button>
  <button (click)="fetchCompaniesFromWko()" style="height: 50px;">Von Wko laden</button>
  <label>Amount: {{lastRequestAmount}}</label>
  <p>
  </p>
  <hr />
  <hr />
  <!-- <p>
    Guten Tag Frau Herr Blubblah, Gnigler Franz von der Firma Planida (Software) spricht.<br/> 
    Sie wollen sicher wissen warum ich anrufe? <br/>
    Oder: Darf ich gleich zum Punkt kommen?<br/>
    Wir möchten Sie in Zukunft bei der Gestaltung Ihrer IT begleiten, aber natürlich nur, wenns für Sie auch Sinn macht.<br/>
    Mein Ziel ist ein Treffen, also ein Termin.<br/>
    Wir bieten Apps für Mitarbeiter und Kunden, diverse Automatisierung, Datenanalyse, <br/>
    Erweiterungen zu bestehenden Softwarelösungen Verwaltungssoftware, Webapps und Onlineshops<br/>
  </p>
  <br/>
  <p style="font-size: large;">
    Guten Tag Frau ... , Gnigler Franz vo da Firma Planida Software spricht... <br/>
    (Sie woin sicher wissen, warum i anruaf?)  <br/>
    Wia san a Softwareunternehmen aus Linz und wia mechtn Sie gern in Zukunft bei da Gestoitung Ihra IT begleitn,<br/>
    oba natirli nur, wenn des fia Sie "AH" an Sinn mocht. Wenns Interesse hom, sog i ina kurz, wos ma so mochn<br/>
    Wia mochn zum Beispü Apps sowoi für Mitarbeiter ois ah für Kunden, Erweiterungen zu bestehende Softwarelösungen, <br/>
    diverse Automatisierungen und Optimierungen, wo se gwünscht san, und natirli Webapps, Onlineshops und Verwaltungssoftware.<br/>
    und wenns große Datenmengen gibt sama a oiwei motiviert, do Erkentnisse aussazumziagn<br/>
    Soll ma uns glei an Ersttermin ausmochn?<br/>
    Wenns ned passt: Jo danke trotzdem. Derf i a Mail schickn, fois si nu wos ergibt?
  </p> -->
  <p>
    Hallo Gnigler Franz von Planida Software aus Linz spricht. Ich und meine Kollegen unterstützen<br />
    kleinere Unternehmen dabei, Dinge zu automatisieren, damit Sie sich auf die schönen Seiten der<br />
    Arbeit fokussieren können.<br />
    Haben Sie Lust in einem persönlichen Gespräch näher darauf einzugehen?
    Darf ich Ihnen dennoch eine Mail schicken für andere Zeiten?
  </p>
</div>
<div style="clear:both"></div>


<app-companylist style="overflow: scroll; width: 300px; height: 200px;float:left;"></app-companylist>
<div style="clear:both"></div>

<app-companydetail style="float:left;"></app-companydetail>